<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% if landing_page_content %}{{ landing_page_content.title|striptags }}{% else %}My Django Landing Page{% endif %}{% endblock %}</title>
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Inter Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <style>
        body {
            font-family: 'Inter', sans-serif;
            background-color: #f3f4f6; /* Light gray background for consistency */
        }
    </style>
</head>
<body class="antialiased">
    <!-- Include the header template from the partials directory -->
    {% include 'partials/header.html' with landing_page_content=landing_page_content %}

    <main>
        {% block content %}
        <!-- Content will be injected here by extending templates -->
        {% endblock %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="/static/js/script.js"></script>

    <!-- Include the footer template from the partials directory -->
    {% include 'partials/footer.html' %}

</body>
</html>
